.Header {
  background-color: bisque;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.Search {
  text-align: left;
  padding: 10px;
}

.Search-items {
  margin: 5px;
  padding: 5px;
}

.Results {
  padding: 10px;
}

.audioFrame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.ApiSearchContainer {
  border-style: groove;
  border-width: 1px;
  background-color: coral;
  border-radius: 5px;
}